{{#if isEditing}}
  <form onsubmit={{action "saveAddress" address}}>
    <label>Street</label>{{input value=address.street}}<br>
    <label>Street</label>{{input value=address.street2}}<br>
    <label>Zipcode</label><input value={{address.zipcode}} oninput={{action "updateZipcode"}}>
    <br>
    {{#if allowEditingCityState}}
      <span class="city-state">{{input value=address.city}}, {{input value=address.state}}</span>
    {{else}}
      <span class="city-state">{{address.city}}, {{address.state}}</span>
      <button {{action (mut allowEditingCityState) true}}>Edit</button>
    {{/if}}
    <br>
    <button
      type="submit"
      {{action
        (actions
          (action "saveAddress" address)
          (action (mut isEditing) false)
          (action (mut allowEditingCityState) false)
        )}}>Save</button>
  </form>
{{else}}
  {{#if address}}
    {{address.street}}<br>
    {{#if address.street2}}{{address.street2}}<br>{{/if}}
    {{address.zipcode}} <span class="city-state">{{address.city}}, {{address.state}}</span><br>
    {{#if allowEditing}}
      <button {{action (mut isEditing) true}}>Edit</button>
    {{/if}}
  {{else if allowEditing}}
    <button {{action "createAddress"}}>Add Address</button>
  {{else}}
    No address Available
  {{/if}}
{{/if}}