{{#if isEditing}}
  <form onSubmit={{action "saveAddress" address}}>
    <label>Street</label>{{input value=address.street}}<br>
    <label>Street</label>{{input value=address.street2}}<br>
    <label>Zipcode</label><input value={{address.zipcode}} oninput={{action "updateZipcode"}}>
    <span class="city-state">{{address-city}}, {{address.state}}</span><br>
    <button type="submit" {{action "saveAddress" address}}>Save</button>
  </form>
{{else}}
  {{#if address}}
    {{address.street}}<br>
    {{#if address.street2}}{{address.street2}}<br>{{/if}}
    {{address.zipcode}} <span class="city-state">{{address.city}}, {{address.state}}</span><br>
    {{#if allowEditing}}
      <button {{action (mut isEditing) true}}>Edit</button>
    {{/if}}
  {{else if allowEditing}}
    <button {{action "createAddress"}}>Add Address</button>
  {{else}}
    No address Available
  {{/if}}
{{/if}}