{{#if isEditing}}
  <form onSubmit={{action "saveAddress" address}}>
    <label>Street</label>{{input value=address.street}}<br>
    <label>Street</label>{{input value=address.street2}}<br>
    <label>City</label>{{input value=address.city}}
    <label>State</label>{{input value=address.state}}
    <label>Zipcode</label>{{input value=address.zipcode}}<br>
    <button type="submit" {{action "saveAddress" address}}>Save</button>
  </form>
{{else}}
  {{#if address}}
    {{address.street}}<br>
    {{address.street2}}<br>
    {{address.city}}, {{address.state}} - {{address.zipcode}}<br>
    <button {{action (mut isEditing) true}}>Edit</button>
  {{else}}
    <button {{action "createAddress"}}>Add Address</button>
  {{/if}}
{{/if}}