<hbox>
  <box xs="12" class="invitations-page">
    <h2>Invitations</h2>
    <span class="city-state">
      Invitations {{stats.guestCounts.invitationsToSend}} |
      Guests {{stats.guestCounts.guestsToInvite}} |
      Guests Missing from Invitations {{stats.guestCounts.guestsNotOnInvitations}}
      <br>
      Potential Invitations {{stats.guestCounts.invitationsToHold}} |
      Potential Guests {{stats.guestCounts.guestsToHold}}
      <br>
      {{stats.session.wedding.party1}} guests {{stats.guestCounts.party1Guests}} |
      {{stats.session.wedding.party2}} guests {{stats.guestCounts.party2Guests}} |
      Guests Missing Party: {{stats.guestCounts.guestsWithoutParty}}
    </span>
    <ManageInvitation as |invitationActions|>
      <div>
        <hbox xs="4 offset-8" align="center" justify="center">
          <span class="city-state">Sort By: </span>
          <PowerSelect
            @searchEnabled={{false}}
            @options={{arr "name" "id"}}
            @selected={{listSortProperty}}
            @onchange={{action (mut listSortProperty)}}
            as |v|>
            {{v}}
          </PowerSelect>
          {{#let (combine (arr "all") invitationActions.families) as |searchOptions|}}
            <span class="city-state">Filter By: </span>
            <PowerSelect
              @searchEnabled={{false}}
              @options={{searchOptions}}
              @selected={{filterSideOfTheWedding}}
              @onchange={{action (mut filterSideOfTheWedding)}}
              as |side|>
              {{side}}
            </PowerSelect>
          {{/let}}
        </hbox>
      </div>
      <ul class="invitation-list tier-1">
        {{#each filteredInvitations as |invite|}}
          {{#let (meta-for invite) as |state|}}
            <li class="invitation">

              <hbox
                xs="12"
                class="invitation-header {{if invite.isInvited "" "not-invited"}}"
              >
                <box>
                  <h3>{{#if state.isEditing}}{{input value=invite.name}}{{else}}{{invite.name}}{{/if}}</h3>
                </box>
                <box align="end">
                  <div>
                    {{#if state.isEditing}}
                      {{#if invite.hasDirtyAttributes}}

                    <button
                      onclick={{actions
                        (action invitationActions.updateInvitation invite)
                        (action (mut state.isEditing) false)
                      }}
                    >Save</button>
                      {{else}}

                    <button
                      onclick={{action (mut state.isEditing) false}}
                    >Cancel</button>
                      {{/if}}
                  {{else}}
                    <button {{action (mut state.isEditing) true}}>Edit</button>
                  {{/if}}
                  </div>
                  <div>
                    {{#if (eq invite.guests.length 0)}}
                    <button {{action invitationActions.deleteInvitation invite}}>delete</button>
                    {{/if}}
                  </div>
                </box>
              </hbox>

              <hbox>
                <box xs="12" sm="4">
                  <ManageAddress
                    @address={{invite.address.content}}
                    @onUpdate={{action invitationActions.updateAddress invite}}
                    @allowEditing={{true}}
                  />
                </box>
                <box xs="12" sm="4">
                  <fit>
                    {{#if state.isEditing}}
                      <PowerSelect
                        @searchEnabled={{false}}
                        @onopen={{action
                          (mut invite.sideOfTheWedding)
                          (if invite.sideOfTheWedding
                            invite.sideOfTheWedding
                            (get invitationActions.families "0")
                          )
                        }}
                        @options={{invitationActions.families}}
                        @selected={{invite.sideOfTheWedding}}
                        @onchange={{action (mut invite.sideOfTheWedding)}}
                          as |side|>
                        {{side}}
                      </PowerSelect>

                      <XToggle
                        @theme="light"
                        @size="small"
                        @value={{invite.isInvited}}
                        @showLabels={{true}}
                        @onToggle={{action
                          invitationActions.toggleInvitationStatus
                          invite
                          (not invite.isInvited)
                        }}
                        as |toggle|>
                        {{toggle.switch}}

                        {{#toggle.label}}
                          <b>{{if invite.isInvited "Invited" "Not Invited"}}</b>
                        {{/toggle.label}}
                      </XToggle>
                    {{else}}
                      Party: <b class="city-state">{{invite.sideOfTheWedding}}</b><br>
                      Status: <b>{{if invite.isInvited "Invited" "Not Invited"}}</b><br>
                    {{/if}}
                  </fit>
                </box>
                <box xs="12" sm="4">
                  <h6>Guests on this Invitation</h6>
                  <ul class="invitation-list tier-2">
                    {{#each invite.guests as |guest|}}
                      <li class={{if guest.isInvited "" "not-invited"}}>
                        {{#link-to "auth.invitations.invitation.guest" invite.id guest.id}}
                          {{guest.name}}
                        {{/link-to}}
                        {{if guest.isChild " (child)" ""}}
                      </li>
                    {{else}}
                      No guests for this invite yet.
                    {{/each}}
                    <li>
                      <QuickAdd @onSubmit={{action invitationActions.addGuest invite}} />
                    </li>
                  </ul>
                </box>
              </hbox>
            </li>
          {{/let}}
        {{else}}
          No Invites for this group yet.
        {{/each}}
        <li>
          <hbox xs="12" class="invitation-header">
            <box>
              <h3>
                <QuickAdd @onSubmit={{action invitationActions.addInvitation}} />
              </h3>
            </box>
          </hbox>
        </li>
      </ul>
    </ManageInvitation>
  </box>
</hbox>