<page>
  <hbox>
    <box xs="12" class="main-nav">
      <h1>Guests By Group</h1>
      <ListContainer class="grouped-list tier-1">
        {{#each model.data as |group|}}
          <li>
            <h5>
              {{#link-to 'auth.groups.group' group}}{{group.name}}{{/link-to}}
            </h5>
            <ul class="grouped-list tier-2">
              {{#each group.invitations as |invite|}}
                <li>
                  <h6>
                    {{#link-to 'auth.groups.group.invitation' group invite}}{{invite.name}}{{/link-to}}
                  </h6>
                  <ul class="grouped-list tier-3">
                    {{#each invite.guests as |guest|}}
                      <li>
                        {{#link-to 'auth.groups.group.invitation.guest' group invite guest}}{{guest.name}}{{/link-to}}
                      </li>
                    {{else}}
                      No guests for this invite yet.
                    {{/each}}
                    <li>
                      <QuickAdd @onSubmit={{action "addGuest" invite}} />
                    </li>
                  </ul>
                </li>
              {{else}}
                No Invites for this group yet.
              {{/each}}
              <li>
                <h6>
                  <QuickAdd @onSubmit={{action "addInvitation" group}} />
                </h6>
              </li>
            </ul>
          </li>
        {{else}}
          No Groups yet.
        {{/each}}
        <li>
          <h5>
            <QuickAdd @onSubmit={{action "addGroup"}} />
          </h5>
        </li>
      </ListContainer>
    </box>
  </hbox>
</page>