<h2>{{model.guest.name}}</h2>

<hbox>
  <box xs="12" sm="6">
    <span class="city-state">Invitation Information</span>
    {{#if model.guest.invitation}}
      <h4>{{model.invitation.name}}</h4>
      <ManageAddress @address={{model.invitation.address}} @allowEditing={{false}} />

      <h4>Associated Guests</h4>
      <ul>
        {{#each model.invitation.guests as |relatedGuest|}}
          {{#if (not (eq relatedGuest.id model.guest.id))}}
            <li class={{if relatedGuest.isInvited '' 'not-invited'}}>
              {{#link-to 'auth.invitations.invitation.guest' model.invitation.id relatedGuest.id}}
                {{relatedGuest.name}} {{if relatedGuest.isChild '(child)' ''}}
              {{/link-to}}
            </li>
          {{/if}}
        {{/each}}
      </ul>

    {{else}}
      This Guest does not currently belong to an invitation.
    {{/if}}
  </box>
  <box xs="12" sm="6">
    {{#if isEditingGuest}}
      <ManageGuest as |actions|>
        <form onsubmit={{action (action actions.updateGuest model.guest)}}>
          <table>
            <thead>
            <tr>
              <th>Info</th><th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Relation</td>
              <td>
                <PowerSelect
                  @options={{actions.relations}}
                  @selected={{model.guest.relation}}
                  @onchange={{action (mut model.guest.relation)}}
                  as |relation|
                >{{relation}}</PowerSelect>
              </td>
            </tr>
            <tr>
              <td>Role</td>
              <td>
                <PowerSelect
                  @options={{actions.roles}}
                  @selected={{model.guest.role}}
                  @onchange={{action (mut model.guest.role)}}
                    as |relation|
                >{{relation}}</PowerSelect>
              </td>
            </tr>
            <tr>
              <td>Email</td><td>{{input value=model.guest.email}}</td>
            </tr>
            <tr>
              <td>Cell #</td><td>{{input value=model.guest.mobilePhone}}</td>
            </tr>
            <tr>
              <td>is invited?</td>
              <td>
                <XToggle
                  @theme="light"
                  @size="small"
                  @value={{model.guest.isInvited}}
                  @showLabels={{true}}
                  @onToggle={{action (mut model.guest.isInvited) (not model.guest.isInvited)}}
                    as |toggle|>
                  {{#toggle.label}}
                    <b>{{if model.guest.isInvited 'Yes' 'No'}}</b>
                  {{/toggle.label}}

                  {{toggle.switch}}
                </XToggle>
              </td>
            </tr>
            <tr>
              <td>is a child</td>
              <td>
                <XToggle
                  @theme="light"
                  @size="small"
                  @value={{model.guest.isChild}}
                  @showLabels={{true}}
                  @onToggle={{action (mut model.guest.isChild) (not model.guest.isChild)}}
                    as |toggle|>
                  {{#toggle.label}}
                    <b>{{if model.guest.isChild 'Yes' 'No'}}</b>
                  {{/toggle.label}}

                  {{toggle.switch}}
                </XToggle>
              </td>
            </tr>
            <tr>
              <td>has a plus one?</td>
              <td>
                <XToggle
                  @theme="light"
                  @size="small"
                  @value={{model.guest.hasPlusOne}}
                  @showLabels={{true}}
                  @onToggle={{action (mut model.guest.hasPlusOne) (not model.guest.hasPlusOne)}}
                    as |toggle|>
                  {{#toggle.label}}
                    <b>{{if model.guest.hasPlusOne 'Yes' 'No'}}</b>
                  {{/toggle.label}}

                  {{toggle.switch}}
                </XToggle>
              </td>
            </tr>
            </tbody>
            <button type="submit" onclick={{action (action actions.updateGuest model.guest)}}>Save</button>
          </table>
        </form>
      </ManageGuest>
    {{else}}
      <table>
        <thead>
        <tr>
          <th>Info</th><th><button {{action (mut isEditingGuest) true}}>edit</button></th>
        </tr>
        </thead>
        <tbody>
        {{#if model.guest.relation}}
          <tr>
            <td>Relation</td><td>{{model.guest.relation}}</td>
          </tr>
        {{/if}}
        {{#if model.guest.role}}
          <tr>
            <td>Role</td><td>{{model.guest.role}}</td>
          </tr>
        {{/if}}
        {{#if model.guest.email}}
          <tr>
            <td>Relation</td><td>{{model.guest.email}}</td>
          </tr>
        {{/if}}
        {{#if model.guest.mobilePhone}}
          <tr>
            <td>Cell #</td><td>{{model.guest.mobilePhone}}</td>
          </tr>
        {{/if}}
        <tr>
          <td>is invited?</td><td>{{if model.guest.isInvited 'Yes' 'No'}}</td>
        </tr>
        <tr>
          <td>is a child</td><td>{{if model.guest.isChild 'Yes' 'No'}}</td>
        </tr>
        <tr>
          <td>give a plus one?</td><td>{{if model.guest.hasPlusOne 'Yes' 'No'}}</td>
        </tr>
        </tbody>
      </table>
    {{/if}}
  </box>
</hbox>