<h2>{{model.guest.name}}</h2>

<hbox>
  <box xs="12">
      <ManageGuest as |actions|>
        <form onsubmit={{action (action actions.updateGuest model.guest)}}>
          <table style="width: 100%">
            <thead>
              <tr>
                <th>Info</th><th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Relation</td>
                <td>
                  <PowerSelect
                    @options={{actions.relations}}
                    @selected={{model.guest.relation}}
                    @onchange={{action (mut model.guest.relation)}}
                    as |relation|
                  >{{relation}}
                  </PowerSelect>
                </td>
              </tr>
              <tr>
                <td>Role</td>
                <td>
                  <PowerSelect
                    @options={{actions.roles}}
                    @selected={{model.guest.role}}
                    @onchange={{action (mut model.guest.role)}}
                      as |relation|
                  >{{relation}}
                  </PowerSelect>
                </td>
              </tr>
              <tr>
                <td>Email</td><td>{{input value=model.guest.email}}</td>
              </tr>
              <tr>
                <td>Cell #</td><td>{{input value=model.guest.mobilePhone}}</td>
              </tr>
              <tr>
                <td>is invited?</td>
                <td>
                  <XToggle
                    @theme="light"
                    @size="small"
                    @value={{model.guest.isInvited}}
                    @showLabels={{true}}
                    @onToggle={{action (mut model.guest.isInvited) (not model.guest.isInvited)}}
                      as |toggle|>
                    {{#toggle.label}}
                      <b>{{if model.guest.isInvited "Yes" "No"}}</b>
                    {{/toggle.label}}

                    {{toggle.switch}}
                  </XToggle>
                </td>
              </tr>
              <tr>
                <td>is a child</td>
                <td>
                  <XToggle
                    @theme="light"
                    @size="small"
                    @value={{model.guest.isChild}}
                    @showLabels={{true}}
                    @onToggle={{action (mut model.guest.isChild) (not model.guest.isChild)}}
                      as |toggle|>
                    {{#toggle.label}}
                      <b>{{if model.guest.isChild "Yes" "No"}}</b>
                    {{/toggle.label}}

                    {{toggle.switch}}
                  </XToggle>
                </td>
              </tr>
              <tr>
                <td>has a plus one?</td>
                <td>
                  <XToggle
                    @theme="light"
                    @size="small"
                    @value={{model.guest.hasPlusOne}}
                    @showLabels={{true}}
                    @onToggle={{action (mut model.guest.hasPlusOne) (not model.guest.hasPlusOne)}}
                      as |toggle|>
                    {{#toggle.label}}
                      <b>{{if model.guest.hasPlusOne "Yes" "No"}}</b>
                    {{/toggle.label}}

                    {{toggle.switch}}
                  </XToggle>
                </td>
              </tr>
            </tbody>
          </table>
          {{#if model.guest.hasDirtyAttributes}}
            <button
              type="submit"
              onclick={{action (action actions.updateGuest model.guest)}}
            >Save</button>
          {{/if}}
        </form>
      </ManageGuest>
  </box>
</hbox>