<page>
  <centered>
    <box xs="6" md="4" lg="3" class="modal">
      <h3>
        {{if isLogin "Login" "Create Account"}}
        <button {{action (mut isLogin) (not isLogin)}}>
          {{if isLogin "Create account instead?" "Have an account?"}}
        </button>
      </h3>
      <form onsubmit={{action "login" email password}}>
        <label for="login-email">Email</label> {{input id="login-email" value=email}} <br>
        <label for="login-password">Password</label>
        {{input
          id="login-password"
          type=(if showPassword "text" "password")
          value=password
        }}
        <button {{action (mut showPassword) (not showPassword)}}>Show Password?</button>
        <br>
        <button type="submit" {{action "login" email password}}>Go</button>
      </form>
      {{#if error}}
        <box style="background: red;">
          <span>{{error.message}}</span>
        </box>
      {{/if}}
    </box>
  </centered>
</page>